<!DOCTYPE html>
<html>
<head>
    <title>WebApp para Cargar Archivos XML</title>
</head>
<body>
    <h1>WebApp para Cargar Archivos XML</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="xml_files" accept=".xml" multiple required>
        <input type="submit" value="Cargar Archivos XML">
    </form>

    <h2>Información de Archivos XML Recién Cargados:</h2>
    <table>
        <tr>
            <th>filename</th>
            <th>NOMBRE</th>
            <th>Comprobante_Folio</th>
            <th>FE_FECHA</th>
        </tr>
        {% for data in uploaded_data %}
            <tr>
                <td>{{ data['filename'] }}</td>
                <td>{{ data['NOMBRE'] }}</td>
                <td>{{ data['Comprobante_Folio'] }}</td>
                <td>{{ data['FE_FECHA'] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
